body {
    background-color: rgb(198, 231, 221);
}

h1 {
    text-align: center;
}

form {
    background-color: rgb(242, 253, 249);
    width: 30rem;
    margin: 3rem auto;
    padding: 1rem;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 6px;
    box-shadow: 1px 2px 3px rgb(0, 0, 0);
}

form ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

textarea {
    resize: none;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

input, textarea, select {
    display: block;
    width: 100%;
    /* margin-top: 0.3rem; */
    margin-bottom: 1rem;
    box-sizing: border-box;
    font: inherit;
    padding: 0.25rem;
    color: rgb(21, 21, 21);
}

input:focus {
    background-color: rgb(219, 190, 253);
    color: rgb(20, 5, 37);
    border-color: rgb(20, 5, 37);
}

textarea:focus {
    background-color: rgb(219, 190, 253);
}

button {
    display: block;
    font: inherit;
    background-color: rgb(32, 5, 63);
    color: white;
    border: 1px solid rgb(32, 5, 63);
    margin: 0.2rem;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    cursor: pointer ;
}

#btn-clear {
    background-color: rgb(229, 240, 236);
    color: black;
}

button:hover {
    background-color: rgb(85, 46, 129);
    border-color: rgb(85, 46, 129);
}

.form-control-inline {
    display: flex;
}

.form-control-inline input {
    width: auto;
    margin-right: 0.5rem;
}

#buttons {
    display: flex;
    justify-content: flex-end;

}